<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMarshal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMarshal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <AutoMarshal.Properties.Settings>
            <setting name="BaseURI" serializeAs="String">
                <value />
            </setting>
            <setting name="VehiclesUriTemplate" serializeAs="String">
                <value>api/v1/vehicles?offset={0}&amp;count={1}</value>
            </setting>
            <setting name="ImageUriTemplate" serializeAs="String">
                <value>api/v1/vehicle/image?id={0}</value>
            </setting>
            <setting name="DaysBefore" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VehiclesLimit" serializeAs="String">
                <value>30</value>
            </setting>
        </AutoMarshal.Properties.Settings>
    </userSettings>
  <uri>
    <idn enabled="All"/>
  </uri>
  <applicationSettings>
    <AutoMarshal.Properties.Settings>
      <setting name="mainFotmTitle" serializeAs="String">
        <value>АвтоМаршал - журнал</value>
      </setting>
      <setting name="settingFormTitle" serializeAs="String">
        <value>Настройки приложения</value>
      </setting>
    </AutoMarshal.Properties.Settings>
  </applicationSettings>
</configuration>